<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="alien" class="org.basic.Alien" autowire="byType">
        <property name="age" value="11" />
    </bean>

    <bean id="com" class="org.basic.Laptop" primary="true">
    </bean>
    <bean id="com2" class="org.basic.Desktop">
    </bean>
</beans>

